#cuerpo{
    background-color: rgb(2, 71, 114);
}

#carouselExample{
    width: 700px;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .logo {
    text-align: center;
    position: absolute;  
    top: 200px;
    right: 650px;
  }
  
  .logo img {
    max-width: 200px;
  }
  
  #results{
    text-align: center;
    width: 50%; /* El ancho del contenedor */
    height: 50px; /* La altura del contenedor */
    margin: auto; /* Centra el contenedor horizontalmente */
    text-align: center; /* Centra el contenido dentro del contenedor */
    position: absolute;  
    top: 300px;
    right: 350px;
    

  }
  
  input[type=text] {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    border-radius: 15px;
  }
  
  button[type=submit] {
    width: 20%;
    background-color: #c20707;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 15px;
  }
  
  button[type=submit]:hover {
    background-color: #101112;
  }
  
  @media screen and (max-width: 600px) {
    input[type=text] {
      width: 100%;
    }
    button[type=submit] {
      width: 100%;
    }
  }

 