#body{
    background-color: rgb(2, 71, 114);
}
 #h2{
     font-size: 50px;
     color: azure;
     text-align: center;
 }

 #b1{ 
    position: absolute;  
    top: 90px;
    right: 850px;
 }

 #dd{ 
    position: absolute;  
    top: 90px;
    right: 630px;
 }

 #b2{
    position: absolute;  
    top: 90px;
    right: 450px; 
 }

